
.uilib, .uilib * {
    padding: 0px;
    margin: 0px;
    font-size: 14px;
    box-sizing: border-box;
    outline: none;
}
.uilib {
    vertical-align: middle;
}
.uilib-selector {
    position: relative;
    display: inline-block;
    width: 150px;
    cursor: default;
}
.uilib-selector .selected,
.uilib-selector ul {
    z-index: 1000;
    background-color: white;
}
.uilib-selector .selected {
    display: flex;
    align-items: center;
    height: 40px;
    padding: 0 15px;
}
.uilib-selector .selected span {
    flex-grow: 1;
}
.uilib-selector .selected i {
    transition: transform 0.3s;
    -webkit-transition: transform 0.3s;
    -o-transition: transform 0.3s;
    -moz-transition: transform 0.3s;
}
.uilib-selector ul {
    position: absolute;
    width: 100%;
    display: none;
}
.uilib-selector.open .selected i {
    transform: rotate(180deg);
}
.uilib-selector.open ul {
    display: block;
}
.uilib-selector ul li {
    display: flex;
    align-items: center;
    height: 30px;
    padding: 0 15px;
}
.uilib-selector ul li:hover {
    background-color: #F7F7F7;
}

.uilib-input,
.uilib-selector .selected,
.uilib-selector ul {
    border: 1px solid #CECECE;
    border-radius: 3px;
}

.uilib-input:hover,
.uilib-input:focus {
    border: 1px solid #5A5A5A;
}

.uilib-input {
    padding: 0px 15px;
    height: 40px;
}